<!DOCTYPE html>
<html>
    <head>
        <title>
            ProCTRL | {{userName}}
        </title>
    </head>
    <body style="background-color: rgb(48,48,48); color: white;">
        <h2><span style="color:greenyellow;">ProCTRL</span>@<span style="color:greenyellow;">{{userName}}</span></h2>
        <span id="pcdata"><code>
            <p> -- SYSTEM -- </p>
            <p>System: {{sysName}}</p>
            <p>Node Name: {{nodeName}}</p>
            <p>Release: {{release}}</p>
            <p>Version: {{version}}</p>
            <p>Machine: {{machine}}</p>
            <p>Processor: {{processor}}</p>
            <p> </p>
            <p> -- CPU -- </p>
            <p>Physical Cores: {{cpuPhCores}}</p>
            <p>Total Cores: {{cpuTotalCores}}</p>
            <p>Max Frequency: {{cpuMaxFreq}}Mhz</p>
            <p>Min Frequency: {{cpuMinFreq}}Mhz</p>
            <p>Current Frequency: {{cpuCurFreq}}Mhz</p>
            {{cpuCores}}
            <p>Total CPU Usage: {{cpuUsage}}%</p>
            <p> </p>
            <p> -- MEMORY -- </p>
            <p> - RAM - </p>
            <p>Total: {{totalMemory}}</p>
            <p>Available: {{memoryAvailable}}</p>
            <p>Used: {{memoryUsed}}</p>
            <p>Percentage: {{memoryUsage}}</p>
            <p> - SWAP - </p>
            <p>Total: {{totalSwap}}</p>
            <p>Free: {{swapAvailable}}</p>
            <p>Used: {{swapUsed}}</p>
            <p>Percentage: {{swapUsage}}</p>
            <a href="/panel/completeinfo"><button style="background-color: #414443; border: none; color: white; padding: 8px 16px; text-align: center; cursor: pointer; display: inline-block; text-decoration: none; font-size: 12;">Reload information</button></a> <a href="{{panelSite}}"><button style="background-color: #414443; border: none; color: white; padding: 8px 16px; text-align: center; cursor: pointer; display: inline-block; text-decoration: none; font-size: 12;">Back to panel</button></a>
        </code></span>
    </body>
</html>